@require "~style/vars"
.Icon
    display inline-block
    position relative
    size 1em

.Icon-svg
    display block
    max-width 1em
    max-height 1em
    stroke-width 0
    stroke currentColor
    fill currentColor
