@require "~style/vars"
.LoaderDisplay
    @extends $FontBold
    position absolute
    left 0
    top 0
    size 100%
    color $White
    background linear-gradient(bottom left, alpha($RadicalRed, 1), alpha($LightningYellow, 1))
