@require "~style/vars"
.Filters
    position relative

.Filters-label
    @extends $clickable
    display inline-block

.Filters-expandable
    overflow hidden

.Filters-expandable--pristine
    height 0

.Filters-gender
    @extend $clickable
    color $PigeonPost
    margin-top 10px
    margin-right 5px

    &:last-child
        margin-right 0

.Filters-gender--current
    color $NeonCarrot

.Filters-perPage
    margin-top 20px
    margin-bottom 20px

.Filters-pageAmount
    @extends $clickable
    color $Ghost
    display block
    margin-right 15px

.Filters-pageAmount--selected
    color $RadicalRed
