@import "buttons"
@import "headings"
@import "inputs"
@import "layout"
@import "links"
@import "texts"

html
body
    font-smoothing antialiased

body
input
textarea
button
    @extends $FontRegular
    font-size $Global.Font.Size
    font-family $Global.Font.Family
