.Container
  @extend $Container

.BoundsContainer
  @extend $BoundsContainer

.Flex
  @extends $Flex

.Flex-left
  @extends $Flex-left

.Flex-center
  @extends $Flex-center

.Flex-right
  @extends $Flex-right

.Flex-between
  @extends $Flex-between

.Flex-top
  @extends $Flex-top

.Flex-middle
  @extend $Flex-middle

.Flex-bottom
  @extends $Flex-bottom


body
    overflow-x hidden

html
body
#root
.app
.View
    size 100%
    background-color $White

.View
    overflow auto
