.Container
  @extend $Container

.BoundsContainer
  @extend $BoundsContainer

.Flex
  @extends $Flex

.Flex-left
  @extends $Flex-left

.Flex-center
  @extends $Flex-center

.Flex-right
  @extends $Flex-right

.Flex-between
  @extends $Flex-between

.Flex-top
  @extends $Flex-top

.Flex-middle
  @extend $Flex-middle

.Flex-bottom
  @extends $Flex-bottom

html
body
#root
.app
    width 100%
    height 100%

.app
    overflow-x hidden
    display flex
    flex-flow column nowrap

.View
    min-height 100%
