.Container
  @extend $Container

.BoundsContainer
  @extend $BoundsContainer

.Flex
  @extends $Flex

.Flex-left
  @extends $Flex-left

.Flex-center
  @extends $Flex-center

.Flex-right
  @extends $Flex-right

.Flex-between
  @extends $Flex-between

.Flex-top
  @extends $Flex-top

.Flex-middle
  @extend $Flex-middle

.Flex-bottom
  @extends $Flex-bottom

html
body
#root
    height 100%

#root
    overflow-x hidden

html
body
#root
.app
.View
    width 100%
    min-height 100%
