// Background
.bg-c-white
    @extends $bg-c-white


.bg-c-black
    @extends $bg-c-black


.bg-c-magenta
    @extends $bg-c-magenta


.bg-c-yellow
    @extends $bg-c-yellow


.bg-c-cyan
    @extends $bg-c-cyan


.bg-gradient
    @extends $bg-gradient

.bg-gradient-left
    background linear-gradient(left, $RadicalRed, $LightningYellow)

.bg-gradient-top
    background linear-gradient(top, $RadicalRed, $LightningYellow)


// Color
.c-white
    @extends $c-white

.c-black
    @extends $c-black

.c-magenta
    @extends $c-magenta

.c-yellow
    @extends $c-yellow

.c-cyan
    @extends $c-cyan

.c-red
    color $Amaranth

.clickable
    @extends $clickable
