@require "~style/vars"
.AvatarDisplay
    position relative
    size 1em
    border-radius 50%
    font-size 64px
    background-size cover
    background-position center
    background-repeat no-repeat
    background-color linear-gradient(top, $RadicalRed, $LightningYellow)
