@require "~style/vars"
.AvatarDisplay
    position relative
    size 1em
    border 1px solid $White
    border-radius 50%
    font-size 64px
    background linear-gradient(top, $RadicalRed, $LightningYellow)
    background-size cover
    background-position center
    background-repeat no-repeat
