@require "~style/vars"
.Title
    @extends $FontBold
    position relative
    font-size 38px
    color $White

.Title-c-black
    color $Black

.Title-c-magenta
    color $RadicalRed

.Title-c-yellow
    color $LightningYellow

.Title-c-cyan
    color $Scooter
