$clickable
    clickable()

// Layout

$Container
    size 100%

$BoundsContainer
    max-width 1920px
    margin 0 auto

$Flex
  Flex()

$Flex-left
  Flex-left()

$Flex-center
    Flex-center()

$Flex-right
    Flex-right()

$Flex-between
    Flex-between()

$Flex-top
    Flex-top()

$Flex-middle
    Flex-middle()

$Flex-bottom
    Flex-bottom()

// Text

$Text-left
    Text-left()

$Text-center
    Text-center()

$Text-right
    Text-right()

$FontLight
    FontLight()

$FontRegular
    FontRegular()

$FontMedium
    FontMedium()

$FontBold
    FontBold()

// Text

$Text-left
    Text-left()

$Text-center
    Text-center()

$Text-right
    Text-right()
