@import "utils"
// Colors
$Black = #000;
$White = #fff;
$RegentGray = #7F8FA4;
$PigeonPost = #B7C7DC;
$Ghost = #C6C9CF;
$RadicalRed = #FF2A71;
$LightningYellow = #ffc023;

//Fonts
$Global = {
    Font: {
        Size: 14px,
        Family: 'Montserrat',
    }
}
