@require "~style/vars"
.Main
    position relative

.Main-container
    display flex
    flex-flow column nowrap

.Main-title
    margin-bottom 20px

.Main-header
    padding 50px 0

.Main-body
    padding-top 40px

.Main-subtitle
    margin-bottom 40px

.Main-pagination
    @extend $FontMedium
    margin-top auto
    padding-top 5px
    color $Amaranth
    border-top 1px solid @color
